[Unit]
Description=Sync mail locally with IMAP (mbsync)
After=network-online.target
Wants=goimapnotify@leet.service goimapnotify@sanch.service goimapnotify@sbc.service goimapnotify@spag.service

[Service]
ExecStart=%h/.config/nushell/scripts/neomutt/sync.nu
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=default.target
