* {
    border: none;
    border-radius: 0.0em;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 2.0rem;
    font-style: normal;
    min-height: 0.0em;
}

/* Window */
window#waybar {
    color: #f4d9e1;
    background: rgba(30, 30, 46, 0.8);
    border-bottom: 0.1em solid #282828;
}

/* Workspaces */
#workspaces {
    background: #282828;
    border: solid 0.0em #f4d9e1;
    border-radius: 0.8em;
    margin: 0.4em;
    padding: 0.0em 0.4em;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    color: #b0bec5;
    background: transparent;
    border-radius: 0.8em;
    padding: 0.0em 0.4em;
}

#workspaces button.active {
    color: #ffffff;
    background: #26B656;
}

#workspaces button:hover {
    color: #26B656;
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.urgent {
    background: #eb4d4b;
}

#cpu {
    background-color: #282828;
    /*color: #FABD2D;*/
    border-radius: 0.8em;
    margin: 0.4em;
    padding: 0.0em 0.4em;
    font-weight: bold;
}

#memory {
    background-color: #282828;
    /*color: #83A598;*/
    border-radius: 0.8em;
    margin: 0.4em;
    padding: 0.0em 0.4em;
    font-weight: bold;
}

#disk {
    background-color: #282828;
    /*color: #8EC07C;*/
    border-radius: 0.8em;
    margin: 0.4em;
    padding: 0.0em 0.4em;
    font-weight: bold;
}

/* hyprland submap */
#submap {
    color: #ffffff;
    background: #b12a34;
    border: solid 0.0em #f4d9e1;
    border-radius: 0.8em;
    margin: 0.4em;
    padding: 0.0em 0.4em;
    font-weight: bold;
}

#submap.critical {
    animation: submap-glow 1s infinite alternate;
}

@keyframes submap-glow {
    from {
        box-shadow: 0.0em 0.0em 0.6em #b12a34;
    }

    to {
        box-shadow: 0.0em 0.0em 0.9em #ff4d5a;
    }
}

/* wireplumber */
#wireplumber {
    color: #ffffff;
    background-color: #44475a;
    border: solid 0.0em #f4d9e1;
    border-radius: 0.8em;
    margin: 0.4em;
    padding: 0.0em 0.4em;
}

#wireplumber.muted {
    background-color: #6272a4;
    color: #ff5555;
}

/* network */
#network {
    color: #89b4fa;
    background: #1b1f27;
    border: solid 0.0em #f4d9e1;
    border-radius: 0.8em;
    margin: 0.4em;
    padding: 0.0em 0.4em;
}

#network.disconnected {
    background: #bf616a;
    color: #ffffff;
}

/* battery */
#battery {
    color: #ffffff;
    background: #1b1f27;
    border: solid 0.0em #f4d9e1;
    border-radius: 0.8em;
    margin: 0.4em;
    padding: 0.0em 0.4em;
}

#battery.charging {
    background: #26A65B;
    color: #ffffff;
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #ffffff;
    animation: blink 1s steps(2) infinite;
}

@keyframes blink {
    50% {
        background: #ffffff;
        color: #bf616a;
    }
}

/* clock */
#clock {
    color: black;
    background: #E6B9C6;
    border: solid 0.0em #f4d9e1;
    border-radius: 0.8em;
    margin: 0.4em;
    padding: 0.0em 0.4em;
    font-weight: bold;
}
