* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 2.0rem;
    font-style: normal;
    min-height: 0;
}

/* Window */
window#waybar {
    background: rgba(30, 30, 46, 0.8);
    border-bottom: 1px solid #282828;
    color: #f4d9e1
}

/* Workspaces */
#workspaces button {
    padding: 0.3em 0.6em;
    margin: 0.01em;
    background: transparent;
    color: #b0bec5;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    background: #26B656;
    color: #ffffff;
    box-shadow: inset 0 -0.2em #ffffff;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* hyprland submap */
#submap {
    /* Reddish hue */
    background-color: #b12a34;
    /* White text */
    color: #ffffff;
    padding: 0.4em 0.6em;
    font-weight: bold;
}

#submap.critical {
    animation: submap-glow 1s infinite alternate;
}

@keyframes submap-glow {
    from {
        box-shadow: 0 0 0.6em #b12a34;
    }

    to {
        box-shadow: 0 0 0.9em #ff4d5a;
    }
}

/* wireplumber */
#wireplumber {
    background-color: #44475a;
    color: #ffffff;
    padding: 0.4em 0.6em;
}

#wireplumber.muted {
    background-color: #6272a4;
    color: #ff5555;
}

/* network */
#network {
    background: #1b1f27;
    color: #89b4fa;
    padding: 0.3em 0.5em;
}

#network.disconnected {
    background: #bf616a;
    color: #ffffff;
}

/* battery */
#battery {
    background: #1b1f27;
    color: #ffffff;
    padding: 0.3em 0.5em;
}

#battery.charging {
    background: #26A65B;
    color: #ffffff;
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #ffffff;
    animation: blink 1s steps(2) infinite;
}

@keyframes blink {
    50% {
        background: #ffffff;
        color: #bf616a;
    }
}

/* clock */
#clock {
    background: #1b1f27;
    color: #cdd6f4;
    font-weight: bold;
}
