* {
    font-family: JetBrainsMono Nerd Font, sans-serif;
    font-size: 18px;
    border-radius: 8px;
    padding: 4px 8px;
}

/* Window */
#window,
window#waybar {
    background: rgba(20, 20, 20, 0.85);
    border-radius: 12px;
    border: 1px solid rgba(50, 50, 50, 0.8);
    color: #d3dae3;
    transition: background-color 0.3s ease-in-out;
}

/* Workspaces */
#workspaces button {
    padding: 4px 8px;
    margin: 2px;
    background: transparent;
    color: #b0bec5;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    background: #26B656;
    color: #ffffff;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* hyprland submap */
#submap {
    /* Reddish hue */
    background-color: #b12a34;
    /* White text */
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Add a subtle glowing effect to make it even more attention-grabbing */
#submap.critical {
    animation: submap-glow 1s infinite alternate;
}

@keyframes submap-glow {
    from {
        box-shadow: 0 0 10px #b12a34;
    }

    to {
        box-shadow: 0 0 15px #ff4d5a;
    }
}

/* wireplumber */
#wireplumber {
    background-color: #44475a;
    /* Dark background */
    color: #ffffff;
    /* White text */
    padding: 4px 10px;
    border-radius: 5px;
}

#wireplumber.muted {
    background-color: #6272a4;
    /* Muted color */
    color: #ff5555;
    /* Red text for muted state */
}

/* network */
#network {
    background: #1b1f27;
    color: #89b4fa;
}

#network.disconnected {
    background: #bf616a;
    color: #ffffff;
}

/* battery */
#battery {
    background: #1b1f27;
    color: #ffffff;
}

#battery.charging {
    background: #26A65B;
    color: #ffffff;
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #ffffff;
    animation: blink 1s steps(2) infinite;
}

/* keyframes */
@keyframes blink {
    50% {
        background: #ffffff;
        color: #bf616a;
    }
}

/* clock */
#clock {
    background: #1b1f27;
    color: #cdd6f4;
    font-weight: bold;
}
